address-pools:
- name: my-ip-space
  protocol: layer2
  addresses:
  - 172.18.80.10-172.18.89.254
- name: traefik
  protocol: layer2
  addresses:
  - 172.18.80.9/32
- name: pihole
  protocol: layer2
  addresses:
  - 172.18.80.8/32
- name: home
  protocol: layer2
  addresses:
  - 172.18.80.7/32
