address-pools:
- name: my-ip-space
  protocol: layer2
  addresses:
  - 172.25.80.10-172.25.89.254
- name: traefik
  protocol: layer2
  addresses:
  - 172.25.25.26/32
- name: traefik-proxy
  protocol: layer2
  addresses:
  - 172.25.25.25/32
- name: pihole
  protocol: layer2
  addresses:
  - 172.25.25.1/32
- name: home
  protocol: layer2
  addresses:
  - 172.25.25.100/32
