#!/usr/bin/env bash

function main {
  if [[ -n "${ZT_DEST:-}" ]]; then
    socat tcp4-listen:443,reuseaddr,fork "TCP:${ZT_DEST}:443" &
    socat tcp4-listen:10001,reuseaddr,fork "TCP::kuma-ingress.kuma-system.svc.cluster.local:10001" &
    socat tcp4-listen:6443,reuseaddr,fork "TCP::kubernetes.default.svc.cluster.local:443" &
  fi
}

main "$@"
